[submodule "Assets/NotUnitySpecific/BeamBackend"]
	path = Assets/NotUnitySpecific/BeamBackend
	url = git@github.com:jimkberry/BeamBackend.git
	branch = master
[submodule "Assets/NotUnitySpecific/BeamBikeControl"]
	path = Assets/NotUnitySpecific/BeamBikeControl
	url = git@github.com:jimkberry/BeamBikeControl.git
	branch = master
[submodule "Assets/NotUnitySpecific/GameModeMgr"]
	path = Assets/NotUnitySpecific/GameModeMgr
	url = git@github.com:jimkberry/GameModeMgr.git
	branch = master
[submodule "Assets/NotUnitySpecific/P2pNet"]
	path = Assets/NotUnitySpecific/P2pNet
	url = git@github.com:jimkberry/P2pNet.git
	branch = master
[submodule "Assets/NotUnitySpecific/GameNet"]
	path = Assets/NotUnitySpecific/GameNet
	url = git@github.com:jimkberry/GameNet.git
	branch = master
[submodule "Assets/NotUnitySpecific/Apian"]
	path = Assets/NotUnitySpecific/Apian
	url = git@github.com:jimkberry/Apian.git
	branch = master
